<h2 mat-dialog-title>Sub razas de {{ data.name }}</h2>

<mat-dialog-content class="mat-modal-sub">
    <!-- botones radio para seleccionar sub raza -->
    <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="favoriteSubBreed">
        <mat-radio-button color="primary" class="example-radio-button" *ngFor="let subBreed of allSubBreed" [value]="subBreed">
            {{ subBreed.subBreed }}
        </mat-radio-button>
    </mat-radio-group>

    <!-- tarjeta de imagen perros -->
    <mat-card class="image-mat-card" *ngIf="favoriteSubBreed !== undefined">
        <img class="img-card-sub" [src]="favoriteSubBreed.url" width="240" height="auto" />
    </mat-card>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-stroked-button color="primary" mat-dialog-close>Salir</button>
</mat-dialog-actions>