<!-- Titulo -->
<h1 class="titleDog">Razas de Perros</h1>

<!-- Selector -->
<mat-card class="select-mat-card">
    <mat-card-content>
        <p class="select-p">Selecciona una raza para ver su foto!!!</p>
        <mat-select-autocomplete class="grid-7-11" [placeholder]="'Razas'" [errorMsg]="errorMessage" [showErrorMsg]="showError" [options]="breedsList" [display]="'display'" [value]="'value'" [labelCount]="2" [multiple]="true" [selectedOptions]="selectedOptions"
            (selectionChange)="getSelectedOptions($event)">
        </mat-select-autocomplete>
    </mat-card-content>
</mat-card>

<!-- tarjeta de imagen perros -->
<div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="flex-start">
    <mat-card class="image-mat-card" fxFlex="0 1 calc(25% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%" *ngFor="let option of selected">
        <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
            <span fxFlex="80%">{{ option.name }}</span>
        </mat-card-title>
        <img mat-card-image [src]="option.url" width="auto" height="240" />
        <mat-card-content>
            <!-- condición existencia sub raza -->
            <div *ngIf="option.sub.length !== 0; then thenBlock"></div>
            <!-- ; else elseBlock -->
            <ng-template #thenBlock>
                <div fxLayout="row">
                    <div fxFlex="80">
                        <span>Sub razas: {{ option.sub }}</span>
                    </div>
                    <div fxFlex="20">
                        <button mat-button (click)="openDialog()">
                            <mat-icon> info</mat-icon>
                        </button>
                    </div>
                </div>
            </ng-template>
            <!-- template else sin subraza
            <ng-template #elseBlock>
                <mat-card-content>
                    <p>Esta raza no tiene sub raza</p>
                </mat-card-content>
            </ng-template> -->
        </mat-card-content>
    </mat-card>
</div>